@import '../utils/allButton';
.filter {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {

        @include Flexe ($type, $axis, $transverse:none );
        // display: flex;
        // justify-content: center;
        margin-bottom: 50px;
        gap: 8px;
    }

}