.logo {
    font-family: $secondariFont;

    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: $logoColor;
    
    &__roof {
        color: $logoColorRoof;
    }

    &__basement {
        color: $logoColorBasement;
    }
}

