.modal__form {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 581px;
}

.modal__title {
    display: block; 
  
    text-align: center;

    padding: 0 auto; 
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;

    color: $primariTextColor;
}