.modal__form {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 581px;

}

.modal__title {
    display: block; 
  
    text-align: center;

    padding: 0 auto; 
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;

    
    
    color: $primariTextColor;
}
.modal__label {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    cursor: pointer;
    color: $secondariTextCol;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within,
    &:hover {
        color: $hovFocusColor;  
    }   

    
    &:focus-within > .feedback,
    &:hover > .feedback {
        border-color: $hovFocusColor;
    }

    .modal__input {
        margin-top:4px;
        padding: 0 0 0 42px;
        height: 40px;
        border: $modalInputBorderStyle;
        border-radius: 4px;
        cursor: pointer;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .modal__label:focus-within &,
        .modal__label:hover & {
            border-color: $hovFocusColor;
        }
       
    }
    .modal__icon--start {
        position: absolute;
        left: 12px;
        bottom: 11px;
    
        cursor: pointer;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus-within {
            fill: $hovFocusColor;
        }

        .modal__input:focus-within,
        .modal__input:hover  {
            border-color: $hovFocusColor;
        }
    }
    .feedback {
        height: 120px;
        padding: 12px 16px;
        margin-top: 4px;
    
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
    
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
       &::placeholder {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            
            color: $feedbackPlaceholderColor;
        }
    }
    
    
    .checkbox {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    
        &__icon {
            margin-right: 8px;
            width: 16px;
            height: 15px;
        
            background-color: var(--primari-background-color);
            border: solid 2px #000000;
            border-radius: 2px;
        
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &:checked + .checkbox__icon {
            background-color: $buttonColor;
            border-color: $buttonColor;
        }
    }
    
    
    
    // .checkbox:checked + .checkbox__icon {
    //     background-color: var(--botton-color);
    //     border-color: var(--botton-color);
    // }
    



}

.modal__label:nth-child(5){
    margin-bottom: 20px;
    }

//     .modal__label:focus-within,
// .modal__label:hover
// {
//     color: var(--hov-foc-color);  
// }
// .modal__label:focus-within .modal__input,
// .modal__label:hover .modal__input,
// .modal__label:focus-within > .feedback,
// .modal__label:hover > .feedback
// {
//     border-color: var(--hov-foc-color);
// }
.modal__input:focus-within + .modal__icon--start,
.modal__input:hover + .modal__icon--start,
.modal__icon--start:hover,
.modal__icon--start:focus-within
{
    fill: var(--hov-foc-color);
}