.nav__list--left {
    margin-left: auto;

        .nav__link--disign {
                color: $secondariTextCol;
                &:hover,
                &:focus {
            color: $hovFocusColor;
        }
            }
            
        .nav__icon {
                margin-right: 10px;
                fill: currentColor;
            }

     & .list__item + .list__item {
            margin-left: 50px;
        }
    }